<div id="houses">
    <div class="house" *ngFor="let house of houses">
        <a [routerLink]="['/', house.category, house.id]">
            <div class="house-img">
                <img src="{{house.image}}" alt="">
                <div class="house-fav-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.5 12.572L12 20l-7.5-7.428A5 5 0 1 1 12 6.006a5 5 0 1 1 7.5 6.572"/></svg>
                </div>
            </div>
            <div class="house-data">
                <span><strong>{{house.city}}, {{house.country}}</strong></span>
                <span>{{house.type}}</span>
                <span class="house-precio"><strong>{{house.pricePerNight}} €</strong>&nbsp;noche</span>
            </div>
        </a>
    </div>
</div>