<div id="main-container">
    <div class="category-hero" *ngIf="category == 'Cabaña'">
        <img src="../../../assets/images/cabaña.webp" alt="" width="500">
        <h3>Escapa del bullicio y sumérgete en la calma de nuestras cabañas. Rodeadas de naturaleza, ideales para reconectar contigo mismo y disfrutar de momentos inolvidables. ¡Tu refugio en el bosque te espera!</h3>
        <p>Reserva tu cabaña hoy y vive una experiencia única.</p>
    </div>
    <div class="category-hero" *ngIf="category == 'Mansion'">
        <img src="../../../assets/images/mansion.webp" alt="" width="500">
        <h3>Experimenta el lujo en su máxima expresión. Nuestras mansiones ofrecen espacios exclusivos, comodidades de primera clase y un ambiente refinado para aquellos que buscan lo mejor. Vive como siempre soñaste.</h3>
        <p>Descubre el lujo que te mereces. Contáctanos para más información.</p>
    </div>
    <div class="category-hero" *ngIf="category == 'Playa'">
        <img src="../../../assets/images/playa.webp" alt="" width="500">
        <h3>Despierta con el sonido del mar y disfruta de días llenos de sol y brisa fresca. Nuestras casas pie de playa son el lugar perfecto para desconectar y disfrutar de unas vacaciones inolvidables.</h3>
        <p>Reserva ahora y vive la magia de la playa.</p>
    </div>
    <div class="category-hero" *ngIf="category == ''">
        <img src="../../../assets/images/todos.webp" alt="" width="500">
        <h3>Explora nuestra selección de alojamientos exclusivos, diseñados para adaptarse a todos los estilos y gustos. Ya sea que busques relajarte en medio de la naturaleza, disfrutar de la brisa del mar o vivir una experiencia de lujo, tenemos el lugar perfecto para ti.</h3>
        <p>Encuentra tu alojamiento ideal. ¡Explora todas las opciones y reserva ahora!</p>
    </div>
    <div id="categories">
        <div class="category" (click)="changeCategory('Playa')">
            <img src="../../../assets/images/category-1.jpg" alt="">
            <span>Pie de playa</span>
        </div>
        <div class="category" (click)="changeCategory('Cabaña')">
            <img src="../../../assets/images/category-2.jpg" alt="">
            <span>Cabañas</span>
        </div>
        <div class="category" (click)="changeCategory('Mansion')">
            <img src="../../../assets/images/category-3.jpg" alt="">
            <span>Mansiones</span>
        </div>
        <div class="category" (click)="changeCategory('')">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 32 32"><path fill="#000" d="M15.19 4.301a1.25 1.25 0 0 1 1.62 0l9.75 8.288c.279.237.44.586.44.952v12.215c0 .688-.557 1.245-1.245 1.245H6.245A1.245 1.245 0 0 1 5 25.756V13.54c0-.366.161-.715.44-.952zm2.915-1.523a3.25 3.25 0 0 0-4.21 0l-9.75 8.287A3.25 3.25 0 0 0 3 13.541v12.215A3.245 3.245 0 0 0 6.245 29h19.51A3.245 3.245 0 0 0 29 25.756V13.54a3.25 3.25 0 0 0-1.145-2.476zM12 16.5a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0M10.5 23a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3m5.5 0a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3m0-5a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3m5.5 0a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3m0 5a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3"/></svg>
            <span>Todos</span>
        </div>
    </div>
    
    <app-houses [houses]="houses"></app-houses>
</div>
